.service-card{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
    background-color:white;
    color: #18223b;
    border: 1px solid #2a3550;
}
.service-card:hover{
    box-shadow: 0 3px 10px #0D1321;

}
.service-card img{
    margin-bottom: 20px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid white;
}
.feature{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F0EBD8;
    font-size: 18px;
}
.service-checkout{
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #F0EBD8;
    /* border-radius: 30px; */
    background-color: #2a3550;
    color: #F0EBD8;
    position: absolute;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    left: 0;
}
.service-checkout:hover{
    color: #f8da6f;
}
.btn-icon{
    margin-left: 10px;
}
