.social-container{
    background-color: #3E5C76;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon{
    font-size: 25px;
    color: #F0EBD8;
    margin-right: 10px;
}
.links-container{
    background-color: #1D2D44;
    padding: 10px 0;
}
.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.links-container img{
    height: 30px;
}
.links{
    display: flex;
    gap: 20px;
}
.links a{
    text-decoration: none;
    color: #F0EBD8;   
}
.links a:hover{
    color: #F0EBD8;   
    text-decoration: underline;
}
.copy-right-conatiner{
    text-align: center;
    background-color: #0D1321;
    color: #F0EBD8;
}
.copy-right-conatiner p{
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .display{
        gap: 20px;
        justify-content: center;
    }
    .copy-right-conatiner p{
        font-size: 12px;
    }
  }