.page-container{
    background-image: url(../../../images/pageNotFound.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

@media only screen and (min-width: 577px) and  (max-width: 768px){
    .about-container{
        height: 80vh;
    }
}